@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>TravelO</b></h1>
    <h3 class="text-h3"> We got all you need! Come join the ultimate TravelO community and share your experience... </h3>
    <h5> TravelO is a TRIP/TOUR Planner. Basically, the user can find the different places/cities according to the provinces. And this page will the the user about that place, famous cuisines, activities to do and many more. Even the user itself can also add his/her own experience with CRUD functionality and alsa have a chance to edit or delete it later. This web site also allows users to create a To-Do list for thier trip.</h5>
</div>


